{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-- First Container -->
<div class="container-fluid bg-white text-center p-5" style="height:500px;">
  <h3 class="margin">Who Am I?</h3>
  <img src="{% static 'images/who.jpg' %}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
 
</div>



<div class="container-fluid bg-light text-dark text-center" style="height:500px;">
            <h1 class="pt-5">{{about.about_heading}}</h1>
            <p class="lead text-justify fw-bold" style="max-width:800px;margin:auto;line-height:1.9;">{{about.about_description}}</p>
        </div>
    


{% endblock%}